doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title MWF &mdash; Stock Management
  link(rel='stylesheet' href='/css/stock.css')
header#topbar

  nav.navbar
    .logo
      | MW
      span &amp; F
    ul.nav-links
      li
        a(href='#') 
      li
        a(href='login.html') Form
      li
        a(href='#about') About
body 
    block content