doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Furniture Company-Login
  link(rel='stylesheet' href='/css/register.css')
.container
  .image-section
    img(src='/images/background.jpeg' alt='Furniture Company')
  .form-section
    h2 Login
    form#registerForm(action='/login' method='POST')
      label(for='email') Email
      input#email(type='email' name='Email' placeholder='Enter email' required='')
      label(for='password') Password
      .password-wrapper
        input#password(type='password' name='Password' placeholder='Enter password' required='')
        span.toggle-password(onclick='togglePassword()') &#x1F441;
      
      button(type='submit') login
      p#error-message
script(src='resgister.js')
